body{margin: 10px;background-color: #F2F2F2;}
.demo-carousel{height: 200px; line-height:200px; text-align: center;}
.knote-iframe{height:768px;}
.knote-iframe-body{background-color:#fff;}
.margin-right-110{margin-right:110px;}
.layui-form-select dl dd, .layui-form-select dl dt {line-height:30px;}
