.file-list {
    width: 300px;
    /* 固定宽度 */
    background-color: #3e3e3e;
    color: white;
    padding: 10px;
    overflow-y: auto;
    /* 支持垂直滚动 */
    scroll-behavior: unset;
}

.file-item {
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
}

.file-item:hover {
    background-color: #333;
}