.file-list {
    width: 300px;
    /* 固定宽度 */
    background-color: #3e3e3e;
    padding: 10px;
    overflow-y: auto;
    /* 支持垂直滚动 */
    scroll-behavior: unset;
}

.file-list-tree {
    background-color: #3e3e3e;
    color: white;
}