.keditor {
    /* 让编辑器占用剩余空间 */
    background-color: #4e4e4e;
    color: white;
    display: flex;
    flex-direction: column;
    /* 垂直布局 */
    overflow-y: auto;
    font-family: Arial, sans-serif;
    scroll-behavior: unset;
}

.keditor textarea {
    flex: 1;
    width: 100%;
    background-color: #2c2c2c;
    color: white;
    border: none;
    padding: 10px;
    resize: none;
    font-family: monospace;
    font-size: 16px;
}


.keditor h2 {
    margin-bottom: 10px;
}

.keditor div[contenteditable="true"] {
    font-size: 16px;
    line-height: 1.6;
}