.welcome {
    display: grid;
    width: 100%;
    align-items: center;
}

.welcome-img {
    width: 150px;
}

/* 图标样式 */
.welcome-icon {
    margin: 5px 0;
    /* 上下间距 */
    color: #ccc;
    /* 默认图标颜色 */
    cursor: pointer;
    transition: color 0.3s ease;
}

.welcome-icon:hover {
    color: #fff;
    /* 鼠标悬停时高亮 */
}